<nav class="navbar navbar-inverse" id="top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">张小康的博客</a>
        </div>
        <nav>
            <ul class="nav navbar-nav">
                <li><a href="/orm2/">ORM2</a></li>
                <li class="dropdown" role="presentation">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        文章 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/one/">一个</a></li>
                        <li><a href="/guokr/">谣言粉碎机</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" action = "/" method="post" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" placeholder="search">
                    <button type="submint" class="btn btn-default">Search</button>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/login">登录</a></li>
                <li><a href="/users/reg">注册</a></li>
            </ul>
        </nav>
    </div>
</nav>
<div class="go-top">
    <div class="arrow"></div>
    <div class="stick"></div>
</div>